*{
    font-size: 20px;
    background-color: beige;
}
p{
    font-family: 'Times New Roman', Times, serif;
    align-content: center;
    align-items: center;
}

h1{
    color: green;
    font-size: 35px;
}

h2{
    color:green;
    font-size: 28px;
}
img{
    border-radius: 20px;
    height: 350px;
    width: auto;
}
.container{
    margin: 30px;
    width: 53%;
}